#container {
	
  border: 5px solid rebeccapurple;
  background-color: none;
  padding: 40px;
  margin: 40px;
  width: 1024px;
  height: 1200px;
	white-space: nowrap;
}

.display {
	
  border: 5px solid rebeccapurple;
  background-color: none;
  padding: 40px;
  margin: 100px;
  width: 400px;
  height: 300px;
  float:left;
	
}

img {
  display: block;
  margin: 0 auto;
}